body,html {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

*::before, *::after{
  box-sizing: border-box;
}

.App{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.234);
  border-bottom: 1px solid rgba(168, 166, 166, 0.37);
}

header h2{
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

header div{
  margin-left: 1.4rem;
}

.theme-icon{
  margin-right: 1rem;

}

.button-box{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-box button{
  padding: 10px 20px;
  margin: 2px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: var(--textColor);
  border: 2px solid var(--textColor);
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.185);
}

.button-box button:hover{

  background-color: var(--textColor);
  color: white;
  transition: all 0.3s ease-in-out;
}

.logo{

  color: var(--logoColor);
  font-size: 2.3rem;
  padding-right: 4px;
}

.logo_caption{

  color: var(--logoColor);
  font-weight: 600;
  margin-left: 16px;
  padding: 0;
  font-size: 10px;

}

.main-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sidebar
{
  position: relative;
  width: 60px;
  padding: 10px;
  height: 100vh;
  background-color: var(--background);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.234);
}

.main-content{
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

#icon-box{
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: var(--background);
  border-radius: 50%;
  margin-top: 2rem;
  padding:5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.334);
}

.sidebar-add-btn{

  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text);
  margin: 10px 0px 0px 10px;

}

.sidebar-upload-btn{

  font-size: 2.1rem;
  color: var(--text);
  font-weight: 600;
  margin: 15px 15px 0px 10px;
  cursor: pointer;

}

#file-upload{
  display: none;
}

.sidebar-add-btn:hover{

  color:#3875fa;
}

.sidebar-upload-btn:hover{
  color:#3875fad0;

}


.panel-box{
  box-sizing: border-box;
  position: absolute;
  padding-right: 5px ;
  z-index: 100;
  top: 1px;
  left: 80px;
  bottom: 0;
  width: 700px;
  height: 85%;
  border-top: 5px solid rgb(54, 54, 252);
  background-color: var(--background);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.334);
}

.panel-header-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.panel-header h5{
  padding: 9px 34px 9px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);

}


#close-icon{
  position: absolute;
  cursor: pointer;
  padding: 5px;
  right: 7px;
  top: 7px;
  bottom: 0px;
}

.panel-data-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

#parent-list{
  background-color: #80808018;
  float: left;
  max-width: 100px;
  height: 92%;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  border-right: 1px solid rgba(128, 128, 128, 0.24);
}

#parent-list li{
  color: var(--text);
  font-weight: 500;
  margin-top: 10px;
  font-size: .9rem;
  width: fit-content;
  cursor: pointer;
  padding: 2px 20px;
  list-style: none;
  margin-bottom: 1px;

}
#parent-list li:hover, .nested-data li:hover {

  background-color: #4646fc2c;
  border-radius: 20px;
  color: rgba(0, 0, 255, 0.671);
}

.nested-list-data-box{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  height: 92%;
  padding: 0px 20px 0px 15px;
  border-right: 1px solid rgba(128, 128, 128, 0.24);

}

.content-holder{
  overflow-x: hidden;
  overflow-y: auto;
  width: 350px;
  height: 80%;

}


.nested-list-data-box ul{
  width: 100%;
  height: 100%;
  float: left;
  height: 100%;
  padding: 0px 10px 0px 5px;
}
.nested-data{

  height: 95% !important;
}
.nested-data li{
  color: var(--text);
  font-weight: 500;
  width: fit-content;
  cursor: pointer;
  font-size: .9rem;
  list-style: none;
  padding: 4px 10px;
  margin-bottom: 1px;

}

.tool-box{
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  background-color: var(--background);
  border-radius: 7px;
  border-top: 4px solid  #2e53da;
  box-shadow: 2px 2px 6px #00000027;
  width: 290px;
  min-height: 400px;
}

#close-tool-box{
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
}

.tool-box-title
{

  margin-left: .5rem;
  color: var(--text);
  padding-bottom: .6rem;
  border-bottom: 1px solid rgba(175, 174, 174, 0.548);
}

.link-input-box{

  display: flex;
  flex-direction: column;
}

#link-url-input{

  border: none;
  color: var(--text);
  background-color: var(--background);
  outline: 1px double #3c5ff8be;
  border-radius: .2rem;
  margin: .6rem .5rem .8rem .8rem;
  padding: 7px 5px;
}

#link-url-input:focus{
  outline: 2px double #8bc1ff;
  box-shadow: 1px 2px 5px #8bc1ff;
}

.link-icon{
  margin: .6rem .5rem .8rem .8rem;
  padding: 8px;
  cursor: pointer;
  border-radius: 15px;
  background-color:#4646fc2c;
  color: #3c5ff8be;

}

#text
{
  margin: .6rem .6rem .6rem 0rem;
  font-size: .85rem;
  color: var(--text);

  font-weight: 600;

}

#color
{
  margin: .6rem .5rem .8rem .8rem;
  padding-bottom: 3px;
  color: var(--text);
  font-size: .85rem;
  font-weight: 600;
}

#fontSize{
  margin: .6rem 1.5rem .6rem .2rem;
  font-size: .85rem;
  color: var(--text);
  font-weight: 600;
}


#color-input
{
  margin: .6rem .6rem .6rem 2.1rem;
  width: 150px;
}

#bg-color-input{

  margin: .6rem .6rem .6rem 0rem;
  width: 150px;
  border: none;

}

#text-input
{
  margin: .6rem .6rem .6rem 0rem;
  border-radius: .2rem;
  height: 25px;
  width: 100%;
  padding: .2rem .3rem;
  border: none;
  color: var(--text);
  background-color: var(--background);
  outline: 1px double #3c5ff8be;

}


#text-input:focus{
  outline: 2px double #8bc1ff;
  box-shadow: 1px 2px 5px #8bc1ff;
}

#color-box{
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(175, 174, 174, 0.349);
}

#text-box, .select-tag-box{

  padding: 15px 10px;
  border-bottom: 1px solid rgba(175, 174, 174, 0.349);

}

#select-input-tag{
  padding: 6px;
}


.menu-box{
  width: 240px;
  height: 300px;
  z-index: 2000; 

}

.options-box{
  width: inherit;
  height: inherit;
  list-style-type: none;
  border: 1px solid #0000003a;
  padding: 3px;
  background-color: #FBFBFB;
}

.options-box li span{

  float: right;
  color: #00000057;
  padding-right: 10px;
}

.options-box li{
  width: 95%;
  color: #000000;
  font-size: 14px;
  border-bottom: 1px solid #cfcfcc86;
  padding: 7px 2px 7px 6px;
  text-align: left;
}

.menu-icon{

  padding: 7px 7px 0px 7px ;
}

.options-box li:hover{

  background-color: #0000000e;
  cursor: pointer;
}

.landing-box{
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.editor-link{

  display: flex;
  background-color: #EEEEEE;
  box-shadow: 2px 3px 10px #0000002c;
  text-decoration: none;
  color: #2e53da;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.editor-link:hover{

  transform: scale(.9);
  transition: transform 0.45s ease-in-out;
}


.editor-link h3{

  padding: .5rem;
} 

.landing-icon-style{

  width: 100px;
  height: 100px;
  padding-right: 10px;
}

